body{
    font-family: Arial, Helvetica, sans-serif;
    background: #161616;
    color: #fff;
    margin: 16px;
}
table{
    border-collapse: collapse;
    margin: 8px 0;
}
td{
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
}
td:hover{
    background-color: #303030;
}
p{
    margin: 4px 0;
}
.error{
    color: red;
    font-weight: bold;
    border: 2px solid red;
    padding: 16px 8px;
    border-radius: 16px;
    box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.568);
}
section{
    margin-bottom: 32px;
}
section h2{
    border-left: 4px solid #ff4545;
    padding-left: 8px;
}
header, footer {
    text-align: center;
}
footer{
    margin-top: 24px;
}